@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
}

.title {
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  flex-direction: column;
}

.statusTitle {
  color: rgb(32, 122, 77);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.tableHead {
  text-align: center;
}
